@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    overflow-x: hidden;
}

h2,h3{
    font-family: 'Oswald', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(237, 147, 171);
    
    
}

a{
    display: flex;
    justify-content: center;
    padding: 12px;
    background: rgb(243, 41, 41);
    width: 250px;
    border-radius:12px;
    color: white;
    text-align: center;
    font-size:18px;
    transition: 1s;
    font-family: 'Gemunu Libre', sans-serif; 
}

a:hover {
    padding: 13px;
    background: rgb(232, 30, 30);
}

a img{
    width: 25px;
    margin-left: 12px;
}

.container-sobre{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(237, 147, 171);
    font-family: 'Inconsolata', monospace;
}

#sobre{
    width: 95vw;
    height: 90vh;
    background: rgb(235, 178, 193);
    width: 90vw;
    border-radius: 10px;
}

#sobre h2{
    text-align: center;
    margin-top: 20px;
}

#ajuda{
    margin-top:25px;
}

span h3{
    margin-top: 16px;
}
